/* .layout{
    background-color: rgb(236, 159, 15);
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'sidebar header '
        'sidebar content';
    grid-template-columns: 10% 1fr;
    grid-template-rows: 10% 1fr;
    
    
    
    }
    .header{
    background-color: rgb(143, 143, 141);
    grid-area: header;
    
    }
   L{
    background-color: green;
    grid-area: sidebar;
    
    }
    .content{
     background-color: rgb(224, 230, 224);
     grid-area: content;
    
    } */